.bg-container{
    /* background-color:#c5d7f2; */
    max-width:90vh;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius:5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
    
}


.form-heading{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    color:black;
    font-size: 35px;
   font-weight: bold;
}
label{
    font-size: 15px;
    color :black;
}

.Errormsg{
    color: rgb(225, 35, 35);
    font-size: 15px;
    margin-bottom:10px;
}

 .gender label, input[type=radio]{
    cursor: pointer;
    
}
svg{
    color: rgb(0, 0, 0);
}
.buttondiv{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.h2tables{
    text-align: center;
   
}



.label-items{
    margin-left: 5px;
    margin-right: 5px;
}
.hobbies-list{
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
}

